
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log


.venv/
venv/
env/
ENV/


.ipynb_checkpoints/
*.ipynb


.vscode/
.idea/
*.swp
.DS_Store


instance/
*.db
*.sqlite3


uploads/               
model/soil_model_weights_only.weights.h5  
*.h5
*.hdf5


Thumbs.db
desktop.ini
